#change-password-box {
    width: 400px;
    height: 360px;
    margin: 150px auto;
    background-color: rgba(233, 233, 233, 0.3);
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(77, 77, 233, 0.3), 0 5px 5px 0 rgba(77, 233, 77, 0.3);
}

#change-password-box label,input {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(42, 42, 42, .9);
    margin: 5px auto;
    display: block;
    width: 200px;
    position: relative;
}

#change-password-box label {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(42, 42, 42, .9);
    margin: 5px auto;
}

#change-password-box input {
    width: 194px;
    height: 20px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(52, 52, 52, .7);
    border: 1px rgba(42, 42, 42, .5) solid;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0.7);
}
#change-password-box input:focus {
    margin-left: -25px;
    width: 250px;
    /* text-transform: uppercase; */
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(52, 52, 52, .9);
    border: 1px rgba(42, 42, 42, .9) solid;
}

#change-password-box .hint {
    font-size: 10px;
    display: block;
    text-align: left;
    color: rgba(42, 233, 233, 0.7);
    width: 200px;
    height: 25px;
    margin: 5px auto;
    padding: 0;
}

#change-password-box #submitNewPassword-button {
    position: relative;
    left: 150px;
    width: 100px;
    border-radius: 2em;
    color: rgba(42, 42, 42, .7);
    background-color: rgba(255, 255, 255, 0.5);
    height: 33px;
}
#change-password-box #submitNewPassword-button:hover {
    color: black;
    background-color: white;
    /* border: 2px rgba(52, 52, 52, .9) solid; */
}

#change-password-box #change-password-close {
    width: 23.3px;
    height: 23.3px;
    position: relative;
    margin-left: 360px;
    margin-bottom: 17px;
    margin-top: 23px;
    cursor: pointer;
}

#user-center-change-password-box {
    width: 400px;
    height: 360px;
    margin: 42px auto;
    background-color: rgba(233, 233, 233, 0.3);
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(77, 77, 233, 0.3), 0 5px 5px 0 rgba(77, 233, 77, 0.3);
}

#user-center-change-password-box label,input {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(42, 42, 42, .9);
    margin: 5px auto;
    display: block;
    width: 200px;
    position: relative;
}

#user-center-change-password-box label {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(42, 42, 42, .9);
    margin: 5px auto;
}

#user-center-change-password-box input {
    width: 194px;
    height: 20px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(52, 52, 52, .7);
    border: 1px rgba(42, 42, 42, .5) solid;
    border-radius: .5em;
    background-color: rgba(255, 255, 255, 0.7);
}
#user-center-change-password-box input:focus {
    margin-left: -25px;
    width: 250px;
    /* text-transform: uppercase; */
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(52, 52, 52, .9);
    border: 1px rgba(42, 42, 42, .9) solid;
}

#user-center-change-password-box .hint {
    font-size: 10px;
    display: block;
    text-align: left;
    color: rgba(42, 233, 233, 0.7);
    width: 200px;
    height: 25px;
    margin: 5px auto;
    padding: 0;
}

#user-center-change-password-box #submitNewPassword-button {
    position: relative;
    left: 150px;
    width: 100px;
    border-radius: 2em;
    color: rgba(42, 42, 42, .7);
    background-color: rgba(255, 255, 255, 0.5);
    height: 33px;
}
#user-center-change-password-box #submitNewPassword-button:hover {
    color: black;
    background-color: white;
    /* border: 2px rgba(52, 52, 52, .9) solid; */
}

#user-center-change-password-box #user-center-change-password-close {
    width: 23.3px;
    height: 23.3px;
    position: relative;
    margin-left: 360px;
    margin-top: 16px;
    cursor: pointer;
}